@font-face {
  font-family: 'Infinium Guardian Caps';
  src: url('/fonts/Infinium Guardian Caps.ttf') format('truetype');
}

@font-face {
  font-family: 'Infinium Guardian';
  src: url('/fonts/Infinium Guardian.ttf') format('truetype');
}

$ae-color: #0094FF;

.ae-logo-caps {
  font-family: Infinium Guardian Caps;
  color: $ae-color;
}

.ae-logo {
  font-family: Infinium Guardian;
  color: $ae-color;
}

.single-title {
  &.flipInX {
    animation: none !important;
  }
}

.footer {
  height: 3rem;
}